html {
    /* scroll padding so scrollIntoView() does not scroll not behind sticky search input, needs to be set on html or it doesn't work */
    /* height of search input + gap to top */
    scroll-padding-top: calc(2.4rem + 8px);
}

.list-group-item.active {
    /* prevent clash with syntax highlighting */
    color: inherit;
    background: rgb(239, 245, 248);
    /* END prevents clash with syntax highlighting */
}

.App {
    margin: 0px 8px 8px 8px;
}

.SnippetFormModalParent .modal-dialog {
    /* 1rem because margin-top and margin-bottom for < breakpoint 575px is 0.5rem, for > it would be 2*1.75 */
    width: calc(100% - 1rem); 
    max-width: 1024px;
}

.SnippetFormModalParent .modal-content {
    height: 100%;
}

.search-input {
    z-index: 3;
}

.create-snippet-btn:focus {
    z-index: 4;
}

.search-result .btn[data-delete] {
    visibility: hidden;
}

.search-result:hover .btn[data-delete] {
    visibility: visible;
}

.search-result .btn[data-edit] {
    visibility: hidden;
}

.search-result:hover .btn[data-edit] {
    visibility: visible;
}