* {
  box-sizing: border-box;
} 

body {
  --font: "Noto Sans","IBM Plex Sans",sans-serif;
  --header-font: "Droid Serif", "Raleway", "Merryweather", serif;
  --margin: 16px;
  
  margin: 0 auto;

  font-family: var(--font);
  line-height: 1.4;
  max-width: 760px;
  padding: 0 calc(var(--margin)/2);
}

textarea {
  font-family: var(--font);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 1.2rem;
  font-family: var(--header-font);
  margin-bottom: calc(var(--margin) / 2);
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1.1rem;
}

h1 + h2 {
 margin-top: calc(var(--margin) / 2);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

a:visited {
  color: linktext; /* FF */
  color: -webkit-any-link;
}

ul { 
  padding-inline-start: 34px;
}

/* top level ul */
*:not(li) > ul {
  margin-top:  calc(var(--margin) / 2); 
}

.title {
  font-size: 1.6rem;
  margin-bottom: var(--margin);
}

nav > ul {
  display:flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: var(--margin);
}

img {
  max-width: 100%;
}
